{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Katalog Laptop
      {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'KatalogLaptop/css/style.css' %}" />
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body class="vh-100 overflow-hidden">
    {% block navbar %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-cust-gradient py-4">
        <div class="container">
          <a class="navbar-brand fs-4" href="/">Home</a>
          <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"><span class="navbar-toggler-icon"></span></button>
          <div class="offcanvas offcanvas-end bg-cust-gradient" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header text-white border-bottom">
              <h5 class="offcanvas-title " id="offcanvasNavbarLabel">Canvas</h5>
              <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item mx-2">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link active" aria-current="page" href="/katalog">Katalog</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active" aria-current="page" href="#">Lorem</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link active" aria-current="page" href="/about">About</a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    {% endblock %}

    {% block content %}

    {% endblock %}
  </body>
</html>
